# **`Theory Questions`**

In [ ]:
# Question-1
# What are data structures, and why are they important?
# Answer-1
# Data Sturcutures are the way of storing and organizing data in a better way so that it can use efficiently.

In [ ]:
# Question-2
# Explain the difference between mutable and immutable data types with examples?
# Answer-2
# Mutable and Immutable in python are the data types which stores the data.
# Difference between Mutable and Immutable are-->
# 1. Mutable : The Mutable data types are those which can be changed after creation.
#     Example : Lists,Sets,Dictionary.
# 2. Immutabl : The Immutable data types are those which can't be modify or update one's created.
#     Example : Tuples,Strings,int

In [ ]:
# Question-3
# What are the main differences between lists and tuples in Python?
# Answer-3
# The main differences between lists and tuples in python are-->
# 1. Lists : Lists are mutable data types.
# 2. Tuples : Tuples are immutable data types.

In [ ]:
# Question-4
# Describe how dictionaries store data?
# Answer-4
# Dictionaries stores the data in key value pairs.
# keys are unique and Immutabl / values can be duplicate and Mutable.

In [ ]:
# Question-5
# Why might you use a set instead of a list in Python?
# Answer-5
# We use set instead of a list in python because :
# * Set didn't store duplicate data it only store unique values
# * It automaticaly removes duplicate data from it.

In [ ]:
# Question-6
# What is a string in Python, and how is it different from a list?
# Answer-6
# String in python is the Sequence of characters enclosed in single or double quotes.
# String are Ordered, Immutable.
# String are different from list, list can store any type of data and list are mutable i.e. they can update and change after creation also.

In [ ]:
# Question-7
# How do tuples ensure data integrity in Python?
# Answer-7
# Tuples ensure data integrity in Python because they are immutabel one's they created they can't be changed and update.
# Tuples provide a discipline and can be used where we want fixed, unchangable data.

In [ ]:
# Question-8
# What is a hash table, and how does it relate to dictionaries in Python?
# Answer-8
# Hash-table is a type of data structure that stores data in the form of key:values pairs and uses hash function to decide
# where each key values store in the memory.
# Dictionaries also store the data in the form of key:values pairs similar to hash-table.

In [ ]:
# Question-9
# Can lists contain different data types in Python?
# Answer-9
# Yes, Lists can contain different data types in python.
# Lists in python are heterogeneous i.e. they can store different data types.

In [ ]:
# Question-10
# Explain why strings are immutable in Python?
# Answer-10
# Strings are immutable in Python because once a string object is created, its contents cannot be changed.
# Python makes strings immitable -->
# 1. Safety and security
# 2. Hashing Requrements

In [ ]:
# Question-11
# What advantages do dictionaries offer over lists for certain tasks?
# Answer-11
# Dictionaries offer the following advantages over lists for certain tasks:
# 1. Dictionaries can store the data in key:values pairs which help in to identify the frequency of the thing.
# 2. Dictionaries can able to store list as the value.
# 3. Dictionaries are faster than lists.

In [ ]:
# Question-12
# Describe a scenario where using a tuple would be preferable over a list?
# Answer-12
# We can use tuple where we want fixed, unchangable data.
# We want a discipline in our data so that it can't be changed or modify ones it created

In [ ]:
# Question-13
# How do sets handle duplicate values in Python?
# Answer-13
# Sets handle duplicate values in Python by automatically removing duplicates.
# When we add elements to the set python calculate its hash value.
# If another element with the same hash value is added, it will be ignored and removed.

In [ ]:
# Question-14
# How does the “in” keyword work differently for lists and dictionaries?
# Answer-12
# 1. Lists : The "in" keyword is used to check if an element is present in a list.
# 2. Dictionaries : The "in" keyword is used to check if a key is present in a dictionary.

In [ ]:
# Question-15
# Can you modify the elements of a tuple? Explain why or why not?
# No, we can't modify the elements of a tuple because tuples are immutable.

In [ ]:
# Question-16
# What is a nested dictionary, and give an example of its use case?
# Answer-16
# Nested dictionary is a dictionary inside a dictionary.
# Use Case:
#         Suppose we have to store student information like name,rollno,marks(of each subjest).
#         info = {"name":"jayesh","roll_num":26,"marks":{"M1":99,"DS":98}}

In [ ]:
# Question-17
# Describe the time complexity of accessing elements in a dictionary?
# Answer-17
# Time Complexity of accessign elements in a dictionary is O(1).
# Why?
# When you access my_dict[key]:
# Python computes the hash of the key.
# The hash is mapped to an index in an internal array.
# The value at that index is returned directly.

In [ ]:
# Question-18
# In what situations are lists preferred over dictionaries?
# Answer-18
# situations where lists preferred over dictionaries are:
# 1. When we don't want to store data in key value pairs.
# 2. When you want to store duplicate data
# 3. In lists we can access element using index number rather than keys.

In [ ]:
# Question-19
# Why are dictionaries considered unordered, and how does that affect data retrieval?
# Answer-19
# Dictionaries are considered unordered because retrieval is by key, not position.
# Pre-Python 3.7 → No guarantee of insertion order.
# Python 3.7+ → Insertion order preserved, but still no index-based access.
# Retrieval speed (O(1) average) comes from hash lookups, not sequence order.

In [ ]:
# from ast import Index
# Question-20
# Explain the difference between a list and a dictionary in terms of data retrieval?
# Answer-20
# Lists : * Retrieval by index.
#         * O(1) index Retrieval
#         * Ordered Index
# Dictionaries : * Retrieval by key.
#                * O(1) key Retrieval
#                * Unordered Key

# *`Coding Questions`*

In [ ]:
# 1. Write a code to create a string with your name and print it.

name = "Jayesh Thakur"
print("My name is :",name)

My name is : Jayesh Thakur

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

greet = "Hello World"
print("Length is :",len(greet))

Length is : 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

lang = "Python Programming"
print(lang[0:3])

Pyt

In [ ]:
# 4. P Write a code to convert the string "hello" to uppercase.
mess = "hello"
print(mess.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple.
fruit = "I like apple"
print(fruit.replace("apple","oragne"))

I like oragne

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
l = [i for i in range(1,6)]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
l2 = [1,2,3,4]
l2.append(10)
print(l2)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l3 = [1,2,3,4,5]
l3.remove(3)
print(l3)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l4 = ['a','b','c','d']
print(l4[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
l5 = [10, 20, 30, 40, 50]
print(l5[::-1])

[50, 40, 30, 20, 10]

In [1]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100,200,300)
print(type(t))
print(t)

<class 'tuple'>
(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2 = ('red', 'green', 'blue', 'yellow')
print(t2[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t3 = (10,20,5,15)
minimum = min(t3)
print(f"The minimum number in the tuple {t3} is {minimum}")

The minimum number in the tuple (10, 20, 5, 15) is 5

In [14]:
# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t4 = ('dog', 'cat', 'rabbit')
indx = t4.index("cat")
print(indx)

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("banana","mango","kiwi")
check = ("kiwi" in fruits)
if check == True:
  print("kiwi is present in the tuple :",fruits)
else:
  print("kiwi is not present in the tuple :",fruits)

kiwi is present in the tuple : ('banana', 'mango', 'kiwi')

In [18]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1 = {'a','b','c'}
print(type(s1))

<class 'set'>

In [33]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s2 = {1,2,3,4,5}
s2.clear()
print(s2)

set()

In [36]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
s3 = {1,2,3,4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [37]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
union = s1 | s2
print(union)

{1, 2, 3, 4, 5}

In [38]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
inter = s1 & s2
print(inter)

{2, 3}

In [40]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name":["Jayesh","Vidhi","Pw_skills"],"age":[19,20,23],"city":["Bhopal","Berlin","Tokyo"]}
print(type(d))
print(d)

<class 'dict'>
{'name': ['Jayesh', 'Vidhi', 'Pw_skills'], 'age': [19, 20, 23], 'city': ['Bhopal', 'Berlin', 'Tokyo']}

In [46]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
data = {'name':"John","age":25}
print(data)
data["country"] = "USA"
print(data)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [47]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
info = {"name":"Alice","age":30}
print(info["name"])

Alice

In [51]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
detail = {"name":"Bob","age":22,"city":"New York"}
print(detail)
detail.pop("age")
print(detail)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [53]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
info = {'name': 'Alice', 'city': 'Paris'}
exists = ("city" in info)
if exists:
    print("Yes city exists")
else:
    print("No city not exists")

Yes city exists

In [54]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
li = [1,2,3,4,5]
tup = (1,2,3,4,2)
dic = {"name":"jayesh","age":19}
print(type(li))
print(li)
print(type(tup))
print(tup)
print(type(dic))
print(dic)

<class 'list'>
[1, 2, 3, 4, 5]
<class 'tuple'>
(1, 2, 3, 4, 2)
<class 'dict'>
{'name': 'jayesh', 'age': 19}

In [57]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random

numbers = [random.randint(1,100) for _ in range(5)]
print(numbers)
numbers.sort()
print("Sorted list in ascending order --> ")
print(numbers)

[29, 85, 86, 60, 42]
Sorted list in ascending order -->
[29, 42, 60, 85, 86]

In [58]:
# 28. Write a code to create a list with strings and print the element at the third index.
web_series = ["Stranger Things","Money Heist","Game of Thrones","Lucifer","Mirzapur","Panchayat"]
print(web_series[3])

Lucifer

In [63]:
# 29. Write a code to combine two dictionaries into one and print the result.
dic1 = {"name":"Jayesh","age":19}
dic2 = {"add":"Bhopal","con":"123"}
dic3 = dic1 | dic2
dic3

{'name': 'Jayesh', 'age': 19, 'add': 'Bhopal', 'con': '123'}

In [66]:
# 30. Write a code to convert a list of strings into a set.
web_series = ["Stranger Things","Money Heist","Game of Thrones","Game of Thrones","Lucifer","Mirzapur","Panchayat"]
set_web = set(web_series)
print(type(set_web))
print(set_web)

<class 'set'>
{'Game of Thrones', 'Panchayat', 'Money Heist', 'Mirzapur', 'Stranger Things', 'Lucifer'}